body {
  font-family: "Poppins", sans-serif;
}
html{
  scroll-behavior: smooth !important;
}
.main-title h3 {
  font-size: 2.5rem;
  margin-top: 25px;
  font-weight: bold;
}
.main-title h2 {
  font-size: 5rem;
  color: rgba(0, 0, 0, 0.1);
  letter-spacing: 5px;
  font-weight: bold;
}
.main-title h3::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: 50%;
  width: 40px;
  height: 20px;
  border-bottom: 1px solid black;
  transform: translateX(50%);
  transition: all 2s;
  cursor: pointer;
}
.main-title h3:hover:after {
  width: 70px;
}
.main-paragraph {
  font-size: 18px;
  color: #999;
  padding-bottom: 70px;
  margin: auto;
  width: 100%;
  margin-top: 10px;
}
.setting {
  position: fixed;
  top: 20%;
  left: -5px;
  z-index: 2;
}
.setting i {
  background-color: #1f2528;
  color: #fff;
  padding: 12px;
  border-radius: 2px;
  cursor: pointer;
}
.setting i:hover {
  background-color: #1f2528e0;
}
/* start navbar */

nav .container {
  width: 75%;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #f25454;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-size: 13px;
  font-weight: 600;
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: #f25454;
  transition: 0.2s;
}
.nav-icon {
  color: #000;
  transition: color 0.3s;
}
.nav-icon:hover {
  color: #f25454;
}
.navbar {
  background-color: #fff !important;
  box-shadow: 5px 5px 15px 0 rgb(31 31 31 / 7%);
  z-index: 99999;
  padding: 15px 0;
}
.navbar-toggler:focus {
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}
.fa-bars {
  color: #000;
  transition: color 0.5s;
  box-shadow: none !important;
  border: none !important;
  outline: none !important;
}
.fa-bars:hover {
  color: #f25454;
}
/* end navbar */

/* start navbar content */
.carousel-inner-img {
  background-image: url(../images/slideshow-1.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.carousel-inner-img2 {
  background-image: url(../images/slideshow-2.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.carousel-inner-img3 {
  background-image: url(../images/slideshow-3.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.carousel-caption {
  top: 50%;
  font-weight: 700;
  font-size: 70px;
  max-width: 500px;
  margin: auto;
  transform: translateY(-30%);
}
.carousel-control-next {
  left: 0;
  top: 50%;
  border: solid white 1px;
  width: fit-content;
  height: fit-content;
  transform: translateY(100%);
  border-bottom-right-radius: 4px;
}
.carousel-control-prev {
  top: 50%;
  border: solid white 1px;
  width: fit-content;
  height: fit-content;
  border-top-right-radius: 4px;
}
.carousel-control-icons {
  transition: color 0.5s;
}
.carousel-control-prev:hover .carousel-control-icons {
  color: #f25454;
}
.carousel-control-next:hover .carousel-control-icons {
  color: #f25454;
}
.carousel-control-layer {
  z-index: -1;
  transition: width 0.5s;
  width: 0;
}
.carousel-control-prev:hover .carousel-control-layer {
  width: 100%;
}
.carousel-control-next:hover .carousel-control-layer {
  width: 100%;
}
.nav-mouse {
  width: 28px;
  height: 45px;
  border-radius: 15px;
  position: absolute;
  bottom: 30px;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  transition: color 0.5s, border-color 0.5s;
}
.nav-mouse:hover {
  color: #f25454 !important;
  border-color: #f25454 !important;
}
.nav-mouse span {
  bottom: 15px;
  animation: move 2s infinite;
}
@keyframes move {
  0% {
    bottom: 15px;
    opacity: 1;
  }
  100% {
    bottom: 0px;
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  .carousel-caption {
    font-size: 45px;
  }
}

/* start about */
.about .container {
  width: 75%;
}
.about-left {
  font-size: 14px;
  line-height: 1.75em;
  margin: 10px 0;
  color: #666;
}
.progress-bar {
  background-color: #f25454;
}
.about .progress {
  height: 0.3rem;
}
.about .skills .skill {
  margin-bottom: 30px;
  margin-top: 8px;
}
.about .skills .skill p {
  color: #444;
  font-weight: 600;
}
/* end about */

/* start our team */
.team-social {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  background-color: rgb(245, 76, 76);
  transition: 0.3s;
}
.team {
  background-color: #fff;
  transition: 0.3s;
}
.team-img img {
  transition: transform 0.5s;
}
.team-img:hover img {
  transform: scale(1.3);
}
.our-team .teams .team:hover .team-social {
  opacity: 0.85;
  cursor: pointer;
}
.team-social .social-inner a i {
  color: #fff;
}
.team-details h5:hover {
  color: #f25454;
  transition: 0.2s;
}
/* end our team */

/* start services */
.services,
.contact {
  background-color: #fafafa;
}
.services .container {
  width: 75%;
}
.service-item h3 {
  font-size: 18px;
  cursor: text;
}
.service-item i {
  color: #f25454;
}
.service-item h3:hover {
  color: #f25454;
  transition: 0.2s;
}
.service-item p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px !important;
}
/* end services */

/* start client */
.clients .carousel-item img {
  border-radius: 50%;
  height: 130px;
  width: 130px;
}

.clients .carousel-item p {
  text-align: center;
  font-size: 25px;
  line-height: 1.5em;
  padding: 0 300px;
  color: #666666;
}













/* end client */

/* start contacts */

.contact h4 {
  font-size: 18px;
  font-weight: 600;
  cursor: text;
}
.contact .info i {
  color: #f25454;
}
.contact .info:hover h4 {
  color: #f25454;
  transition: 0.2s;
}
.contact span {
  font-size: 14px;
  color: #666;
  cursor: text;
}
.contact .form-control:focus {
  border: 2px solid #f25454 !important;
  box-shadow: none !important;
}
.contact form input,
.contact form textarea {
  border: 2px solid #eee !important;
  color: #a6a6a6 !important;
  background-color: #fff;
  padding: 10px 20px;
}
/* end contact */

/* start footer */
footer {
  background: #222;
  background-image: url(../images/dotted-map.png);
  background-size: contain;
  background-position: center center;
}
.footer-info > a {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgba(242, 84, 84, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white !important;
  transition: background-color 0.3s;
}
.footer-info > a:hover {
  background-color: #f25454;
}
footer p {
  color: #b0b0b0;
}
.text a {
  color: #b0b0b0;
  text-decoration: none;
  transition: color 0.3s;
}
.text a:hover {
  color: #f25454;
}
.text:last-of-type a.btn {
  font-size: 0.8rem !important;
  border-color: #a6a6a6;
}
.text:last-of-type a.btn:hover {
  border-color: #f25454;
}
.links a i {
  transition: color 0.3s;
}
.links a:hover i {
  color: #f25454 !important ;
}
.footer-copyright {
  background: #1a1a1a;
}
p.Copyright a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
p.Copyright a:hover {
  color: #f25454 !important ;
}
@media (max-width: 767px) {
  .footer-copyright,
  p.Copyright {
    text-align: center !important;
  }
}
/* end footer */
